<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="children">
            <h2><span jhiTranslate="footballClubErpApp.children.detail.title">Children</span> {{ children.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="footballClubErpApp.children.name">Name</span></dt>
                <dd>
                    <span>{{ children.name }}</span>
                </dd>
                <dt><span jhiTranslate="footballClubErpApp.children.firstName">First Name</span></dt>
                <dd>
                    <span>{{ children.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="footballClubErpApp.children.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{ children.birthDate }}</span>
                </dd>
                <dt><span jhiTranslate="footballClubErpApp.children.birthCountry">Birth Country</span></dt>
                <dd>
                    <span>{{ children.birthCountry }}</span>
                </dd>
                <dt><span jhiTranslate="footballClubErpApp.children.birthCity">Birth City</span></dt>
                <dd>
                    <span>{{ children.birthCity }}</span>
                </dd>
                <dt><span jhiTranslate="footballClubErpApp.children.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="children.photo">
                        <a (click)="openFile(children.photoContentType, children.photo)">
                            <img [src]="'data:' + children.photoContentType + ';base64,' + children.photo" style="max-width: 100%;" alt="children image"/>
                        </a>
                        {{ children.photoContentType }}, {{ byteSize(children.photo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="footballClubErpApp.children.team">Team</span></dt>
                <dd>
                    <div *ngIf="children.teamId">
                        <a [routerLink]="['/team', children.teamId, 'view']">{{ children.teamId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="footballClubErpApp.children.parent">Parent</span></dt>
                <dd>
                    {{ children.parentId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/children', children.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
